body {
    background-color: #2C3531;
}

h1 {
    color:white;
    text-align: center;
    margin-top: 50px;
}

.input-group {
    margin-top: 100px;
    margin-bottom: 100px;
}

select {
    text-align: center;
    text-align-last: center;
}

.card {
    margin-bottom: 40px;
    background-color: #3b3a5c;
    color: white;
}
